<ion-header>
  <ion-toolbar>
    <ion-title>
      AM Coding Enterprises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1 class="title"><i>EPICO</i> Brand Alcometer 2020 - "No breathing, just calculating!"</h1>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Pick one" type="string" name="gender" [(ngModel)]="gender">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>Bottles</ion-label>
      <ion-input type="number" name="bottles" [(ngModel)]="bottles"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Time</ion-label>
      <ion-input type="number" name="time" [(ngModel)]="time"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Promille</ion-label>
      <ion-input type="number" name="promille" readonly value="{{promille | number : '1.2-2'}}"></ion-input>
    </ion-item>
  </ion-list>
  
  <div>
    <ion-button color="secondary" expand="block" (click)="calculate()">Calculate</ion-button>
  </div>

</ion-content>